@using WebApplication12.Models
@model PersonViewModel
    
<h1>Welcome @Model.Person.FirstName @Model.Person.LastName that is @Model.Person.Age years old</h1>

<a class="btn btn-success" href="/session/index">Back to Form</a>